@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}
h3{
  font-size: 3.8rem;
  padding: 12px;
  text-align: center;
}

#logo{
    margin: 3px 55px;
    

}

#logo img{
    margin: 8px 0px; 
     height: 87px;
}

body{
   background-color: #f3f5f9;
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 200px;
  height: 100%;
  background: #292b2a;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: #bdb8d7;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #070707;
}
    
.wrapper .sidebar ul li:hover a{
  color: rgb(100, 196, 240);
}
 
.wrapper .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a{
  display: block;
  width: 40px;
  background: #616164;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper .main_content{
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header{
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info{
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .info div{
  margin-bottom: 20px;
}

.textbox {
  width: 38%;
  overflow: hidden;
  font-size: 31px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #4caf50;
}

.box {
  margin: 18px 104px;
  display: block;
  position: absolute;
  top: 31%;
  left: 33%;
  /* transform: translate(-50%,-50%); */
  color: rgb(8, 1, 1);
  width: 40%;
}
body{
margin: 0;
padding: 0;
background: url(money.jpg) no-repeat;
background-size: cover;
}



/* .btn{
  padding: 6px 20px;
  border: 2px solid white;
  background-color: brown;
  color: white;
  margin: 17px;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
} */
/* .btn{
width: 65%;
background: none;
border: 2px solid #4caf50;
color: white;
padding: 5px;
font-size: 18px;
cursor: pointer;
margin: 12px 0;
}



.btn {
background-color: white; 
color: black; 
border: 2px solid #f44336;
}

.btn:hover {
background-color: #f44336;
color: white;
} */

.box input,
.box textarea{
    width: 95%;
    padding: 0.5rem;
    border-radius: 22px;
    font-size: 1.1rem;
}

.box form{
  width: 100%;
}
.box label{
  font-size: 1.3rem;
  font-family: 'Bree Serif', serif;
}